/*VARIABLES*/
:root {
    --primary-color: #E26455;
    --secondary-color: #fc885e;
    --third-color: #F2A313;
    --fourth-color: #F4E9DF; 
    --gap: 3rem;
    --hue: 206;
    --bkg: var(--hue) 50% 96%;
    --text: var(--hue) 70% 9%;
    --dark: var(--hue) 70% 3%;
      /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(82, 60%, 28%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --body-color: hsl(0, 0%, 95%);
    --container-color: hsl(0, 0%, 100%);
    --spacing-gutter-medium: 3rem;
    --spacing-gutter-large: 4rem;
        
    
}
/**/


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: .2s cubic-bezier(.34,1.12,.68,1.31);
}

/* FONTS */


@font-face {
    font-family: 'libre';
    src: url('LibreCaslonText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    
}
@font-face{
    font-family: 'vonique92';
    src: url('Vonique\ 92_D.otf');
    font-weight: normal;
    font-style: normal;
}
/**/

html {
    font-size: 62.33%;
}
body{
    font-size: 1.6rem;
    overflow-x: hidden;
    
}

a {
    text-decoration: none;
}
h1 {
    font-style: bold;
    color: black;
    font-size: 6rem;
    font-family:'vonique92';
    padding-bottom: 5rem;
    text-align: center;    
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    font-family: 'libre';
    color: var(--third-color);
}
p {
    font-family: Arial, Helvetica, sans-serif;
}
/*intro area*/
.intro-content{
    text-align: center;
    position: relative;
    top: -3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    
    gap: var(--gap);
    
}


.intro-content p{
    
    font-size: 2.5rem;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.intro-text, .intro-image {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-top: 50px;
    
    
}

.intro-image img{
    max-width: 100%;
    height: auto;
    border-radius: 0.2rem;
    

}
/**/

nav{
    z-index: 99;
    position: relative;
    transition: 0.4s;
}
nav a{
    text-decoration: none;
    color: #1f1f1f;
}

nav .containER{
    max-width: 1150px;
    padding: 1em 2em;
    margin: 0 auto;
}

nav .meNU{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    list-style-type: none;
    padding: 0;
    display: inline-block;
}

nav ul li{
    display: inline-block;
    margin: 0 0.5em;
}

nav ul a{
    font-size: 1.8em;
    text-transform: uppercase;
    color: var(--primary-color);
}

nav .containER .menu-btn{
    display: none;
}

.social-media a{
    font-size: 1em;
}

header{
    height: 70vh;
    background: url(MT-18.JPG) center no-repeat fixed;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

header h1{
    position: absolute;
    font-size: clamp(3.5rem, 15vw + 1rem, 12rem);
    text-transform: lowercase;
    letter-spacing: 5px;
    font-weight: 700;
    transform: translateY(-50%);
}

.glass{
    position: absolute;
    width: 42%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.h-glass{
    background: url(MT-18.JPG) center no-repeat fixed;
    background-size: cover;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    top: 40%;
    right: 0;
    animation: text1 0.8s ease-in forwards;
}

.h-regular{
    color: var(--primary-color);
    top: 60%;
    left: 42%;
    text-align: start;
    font-size: 8rem;
    animation: text2 0.8s ease-in forwards;
    animation-delay: 500ms;
}

.glass > div{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 1.5em;
}

.glass > div div{
    margin: 0 1em;
}

.glass p{
    color:var(--fourth-color);
    font-size: 2.5rem;
    line-height: 27px;
    max-width: 27em;
}

.glass h2{
    color: var(--third-color);
    font-size: 4rem;
}

.glass a{
    color: #fff;
    text-decoration: none;
}

.glass a i{
    margin-left: 0.2em;
}

.glass .fa-route{
    color:var(--third-color);
}

header h1{
    opacity: 0;
}

@keyframes text1{
    0%{
        opacity: 0;
        transform: translate(-2em, -50%);
    }
    100%{
        opacity: 1;
        transform: translate(0, -50%);
    }
}

@keyframes text2{
    0%{
        opacity: 0;
        transform: translate(2em, -50%);
    }
    100%{
        opacity: 1;
        transform: translate(0, -50%);
    }
}


.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 3rem var(--gap);
    
}
.main-content h1{
    text-align: center;
    font-size: 5rem;
}



.menu-space {
    background-color:var(--fourth-color);
    height: 53px;
    visibility: hidden;
    
}
/**/


.text {
    display: flex;
    text-align: center;
    justify-content: center;
    text-align: justify;
    align-items: center;
    flex-direction: column;
    background-color: var(--fourth-color);
    width: 30%;
    font-size: 30px;    
}
/*backgrounds*/
.main-bg {    
    background-color: #E26455;
    background-size: cover;
    background-position: center center;    
}
.white-bg{
    background: white;
}
.secondary-bg {
    background: var(--secondary-color);
}
.test-bg{
   background-image: url('../images/backgroundcomviver2.png');
   background-size: cover;
   background-position: center center;
}   
/**/


/*grids*/
.grid-one-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 5vh;
}
.grid-main-heading {
    margin-bottom: 1rem;
}


.grid-main-content {
    margin-bottom: 5rem;
}

.grid-description {
    font-family: 'libre';
    padding-bottom: 5rem;
    font-size: 3rem;
    color: var(--fourth-color);
}

.grid {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 6rem;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    width: 100%;
    margin-bottom: 70px;    
}
.service-grid p {
    font-size: 2.8rem;
    text-align: justify;
}
.service-grid h3{
    font-size: 3rem;
}


.grid h3 {
    color: var(--secondary-color);
    font-family: 'cocogothic';
    font-size: 2rem;
    text-align: center;
}

.grid p{
    padding-top: 1.5rem;
    font-size: 2.5rem;
    text-align: start;
    font-family: 'cocogothic';
    color: var(--third-color);
}
/**/

/*buttons*/
.btn {
    
    border-radius: 1rem;
    background-color: #ffffff;
    text-align: center;
    border: none;
    text-decoration: dashed;
    text-decoration: none;
    display: inline-block;
    font-size: 2.1rem;
    margin: 4rem;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 70%;
    height: 5rem;
}


.btn:hover {
    
    transform: scale(1.1);
    box-shadow: 5px 5px 5px var(--third-color);
}

/**/

/* mobile */

@media (max-width: 900px) {
    .intro-content, .grid {
        grid-template-columns: 1fr;
    }

    .service-grid{
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 50px;

    }
    .service-grid p{
        font-size: 1.8rem;

    }
    .grid-one-content{
        display: block;
    }

    .menu-space {
        display: none;
    }
    .footer p {
        font-size: 1.5rem;
    }

    div.galeria{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 15vh;
    }

    .image-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: auto 0;
        
        
    }

    

    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }


    .wraper .scroller2 img {
        min-width: calc(100% / 2);
        object-fit: cover;
        flex: 1;
        padding: 0.5rem;
    }
    
    .wraper .scroller  img {
        min-width: calc(110% / 2);
        flex: 1;
        padding: 0.5rem;
        object-fit: cover;
    }

    @keyframes slidy {
        0%{margin-left:0%;}
       20%{margin-left:-100%;}
     
       25%{margin-left:-100%;}
       45%{margin-left:-200%;}
     
       50%{margin-left:-200%;}
       70%{margin-left:-100%;}
     
       75%{margin-left:-100%;}
       95%{margin-left: 0%;}
     
      100%{margin-left:0%;}

      110%{margin-left: 100%;}

      120%{margin-left: 110%;}
      
    }
}
@media screen and (max-width: 900px){
    nav .containER{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    nav .meNU{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 0;
        overflow: hidden;
        transition: 0.7s;
    }
    .nav-links li{
        display: block;
        margin: 0.5em 0;

    }
    .social-media li:nth-child(1){
        margin-left: 0;
    }
    .social-media{
        order: 2;
    }
    .nav-links{
        order: 1;
        padding-top: 1em;
    }
    nav .containER .menu-btn{
        display: inline-block;
        font-size: 1.4em;
        cursor: pointer;
    }
    nav .containER .nav-toggle{
        height: 15em;
    }
    .nav-background{
        background: #fff;
    }
    .content .title{
        font-size: 10rem;
    }

}

@media screen and (max-width: 750px){

    .glass{
        width: 90%;
        height: initial;
        min-height: 30em;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 15px;
    }
    .glass h2{
        font-size: 1.9rem;
        text-align: start;
    }
    .glass p{
        font-size: 2rem;
    }
    .h-glass{
        right: 22%;
        top: 33%;
        color: #1f1f1f;
        background-attachment: initial;
        background-size: 100% 130%;
        font-size: 5rem;
       
    }

    .h-regular{
        top: 55%;
        left: 25%;
        
        font-size: 5rem;
    }
    nav .containER .menu-btn{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .glass > div{
        margin-top: 4em;
    }
}


@media screen and (max-height:700px){
    header{
        height: 700px;
    }

}
@media screen and (max-width: 600px){
    .h-glass{
        font-size: 3.5rem;
        left: 17%;
    }
    .h-regular{
        font-size: 3.7rem;
        top: 55%;
        left: 22%;
    }
    .ball-content{
        margin: 0 auto;
    }
    .list .description{
        font-size: 2rem;
    }

}
@media screen and (max-width: 480px){
    .h-glass{
        font-size: 3.2rem;
        left: 15%;
    }
    .h-regular{
        font-size: 3.5rem;
        top: 57%;
        left: 19%;
    }
    .list .description{
        font-size: 1.8rem;
        text-align: start;
    }
    .grid-one-content{
        align-items: center;
    }
}
/**/

.line {
    height: 0.3rem;
    background-color: #000000;    
}


/*serviços*/
.item{
    background-color:var(--primary-color);
    box-shadow: 0.5rem 0.5rem  rgb(197, 190, 190);
    border-radius: 1rem;
    padding: 3rem;
    margin: 0 5rem;
    font-size: 1.5rem;
    transition: all 300ms ease-in-out;
}

.item h3{
    padding-bottom: 1rem;
    color: var(--fourth-color);
    font-family: libre;
    text-align: center;
}
.item p{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--fourth-color);
    
}

.item:hover{
    box-shadow:0.7rem 0.7rem 1.2rem rgb(197, 190, 190);
    transform: scale(1.1);
    transition: all 300ms ease-in-out;
}
/**/

.section {
    visibility: hidden;
}


/*duvidas-flipcards*/


/**/



.ball-content{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 350px;
    
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 4rem;
    font-size: 1.5rem;
    
}

.ball-inside{
    display: flex;
    flex-direction: row;
}

.ball-content h3{
    color: #C49145;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7rem;

}

.ball-content p{
    font-size: 2.5rem;
    text-align: center;
}


.wraper {
    height: 360px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
}
.scroller {
    display: flex;
    width: 100%;
    animation: slidy 20000ms infinite;
}
.scroller2{
    
    display: flex;
    width: 100%;
    animation: slidy 20000ms infinite;
    
}
.scroller2 img {
    min-width: calc(100% / 3.1);
    object-fit: cover;
    flex: 1;
    padding: 0.5rem;
}

.wraper .scroller  img {
    min-width: calc(100% / 2.6);
    flex: 1;
    padding: 0.5rem;
    object-fit: cover;
}




@keyframes slidy {
    0%{margin-left:0%;}
   20%{margin-left:-100%;}
 
   25%{margin-left:-100%;}
   45%{margin-left:-200%;}
 
   50%{margin-left:-200%;}
   70%{margin-left:-100%;}
 
   75%{margin-left:-100%;}
   95%{margin-left: 0%;}
 
  100%{margin-left:0%;}
  
 }

@keyframes message {
    0%{margin-left: 10%;}
    20%{margin-right: -10%;}
    
}


.message1{
    position: fixed;
    font-size: 20px;
    font-style: normal;
    color: #f3f1f1;
    border-radius: 4px;
    padding: 10px;
    right: 23px;
    bottom: 36px;
    background-color: #0fd472;
    margin-right: 40px;   
    animation: message 7000ms ;
}
#contact {
    
    display: flex;
    flex-direction: row;
    position: fixed;    
    color: #fff;
    margin-right: -30px;
    border: none;
    background-color: #0fd472;
    border-radius: 10px;
    
    cursor: pointer;
    
    
}
#contact button{
    border-radius: 50%;
    background-color: #0fd472;
    border: none;
    padding: 25px;
    bottom: 20px;
    right: 20px;
}

.section-shadonw{
    box-shadow: 1px 1px 100px white;
}


.grad{
    height: 250px;
    background-image: linear-gradient(to top, white, #E26455 );
    
    
}
.grad2{
    height: 250px;
    background-image: linear-gradient(to top, #E26455, white );
   
    
}

.container {
    max-width: 1200px;
    margin: auto;
    padding-bottom: 100px;
}
.container button{
    border-style:none;
    border-radius: 12px;
}
    
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    overflow: hidden;
    
}
    
.image-item {
    flex: 1 0 28%;
    min-width: 200px;
    cursor: zoom-in;
    border-radius: 6px;
    
}
    
.image-item img {
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    object-fit: cover;
    transition: transform 250ms cubic-bezier(0.79, 0.25, 0, 1.07);
    padding: 50px;
    border-radius: 5px;
}
    
.image-item:is(:hover, :focus) img {
    transform: scale(1.03);
}

.f p{
    font-size: 3rem;
}


.sect{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    height: 100vh;
    margin-top: -50px;
    width: 100vw;
    overflow: hidden;
    position: relative;
}
.slider .list .item2{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}
.slider .list .item2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider .list .item2 .content{
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}

.slider .list .item2 .content .title,
.slider .list .item2 .content .type{
    font-size: 5em;
    font-weight: bold;
    line-height: 1.3em;
}
.slider .list .item2 .type{
    color:var(--primary-color);
}
.slider .list .item2 .button{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}
.slider .list .item2 .button button{
    border: none;
    background-color: #eee;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
    transition: 0.4s;
    letter-spacing: 2px;
}


.slider .list .item2 .button button:hover{
    letter-spacing: 3px;
}



.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}

.thumbnail .item2{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}

.thumbnail .item2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
}

/* nextPrevArrows Section  */
.nextPrevArrows{
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.nextPrevArrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}
.nextPrevArrows button:hover{
    background-color: #fff;
    color: #000;
}

/* Animation Part */
.slider .list .item2:nth-child(1){
    z-index: 1;
}


/* animation text in first item */
.slider .list .item2:nth-child(1) .content .title,
.slider .list .item2:nth-child(1) .content .type,
.slider .list .item2:nth-child(1) .content .description,
.slider .list .item2:nth-child(1) .content .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.slider .list .item2:nth-child(1) .content .title{
    animation-delay: 0.4s !important;
}
.slider .list .item2:nth-child(1) .content .type{
    animation-delay: 0.6s !important;
}
.slider .list .item2:nth-child(1) .content .description{
    animation-delay: 0.8s !important;
}
.slider .list .item2:nth-child(1) .content .buttons{
    animation-delay: 1s !important;
}

/* Animation for next button click */
.slider.next .list .item2:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}

@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.slider.next .thumbnail .item2:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
.slider.prev .list .item2 img{
    z-index: 100;
}


@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}


.slider.next .thumbnail{
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}



/* Animation for prev button click */
.slider.prev .list .item2:nth-child(2){
    z-index: 2;
}

.slider.prev .list .item2:nth-child(2) img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.slider.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.slider.next .nextPrevArrows button,
.slider.prev .nextPrevArrows button{
    pointer-events: none;
}


.slider.prev .list .item2:nth-child(2) .content .title,
.slider.prev .list .item2:nth-child(2) .content .type,
.slider.prev .list .item2:nth-child(2) .content .description,
.slider.prev .list .item2:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

.space{
    margin-top: 70px;
}


.flip-card {
margin: 20px;
position: relative;
transform-style: preserve-3d;
perspective: 1000px;
}

.flip-card-front,
.flip-card-back {
width: 380px;
min-height: 400px;
height: auto;
font-family: 'libre';
background-color: var(--primary-color);
border-radius: 10px;
background-size: cover;
background-position: center;
text-align: center;
backface-visibility: hidden;
transform-style: preserve-3d;
transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}



.flip-card-front {
transform: rotateY(0deg);
}

.flip-card-back {
position: absolute;
top: 0;
left: 0;
transform: rotateY(180deg);
}

.flip-card-front::after,
.flip-card-back::after {
content: "";
width: 100%;
height: 100%;

position: absolute;
top: 0;
left: 0;
opacity: 0.6;
}

.flip-card-front .inner,
.flip-card-back .inner {
width: 100%;
padding: 40px;
position: absolute;
top: 50%;
transform: translateY(-50%) translateZ(60px) scale(0.94);
z-index: 2;
}

.inner .icon {
width: 80px;
margin-bottom: 20px;
}

.inner h3 {
margin-bottom: 8px;
color: #ffffff;
font-size: 30px;
font-weight: 700;
line-height: 40px;
text-transform: capitalize;
}

.inner p {
color: #ffffff;
font-size: 16px;
line-height: 28px;
font-family: 'libre';
}

.flip-card:hover .flip-card-front {
transform: rotateY(-180deg);
}

.flip-card:hover .flip-card-back {
transform: rotateY(0deg);
}
  

.flip{
   display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.main-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--primary-color);
    color: #F4E9DF;
    padding: var(--spacing-gutter-large);
}
.main-footer a {
    color: #F4E9DF;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}
.main-footer a:hover {
    filter: brightness(0.8);
}

