/*VARIABLES*/
:root {
    --primary-color: #E26455;
    --secondary-color: #fc885e;
    --third-color: #F2A313;
    --fourth-color: #F4E9DF; 
    --gap: 3rem;
    --hue: 206;
    --bkg: var(--hue) 50% 96%;
    --text: var(--hue) 70% 9%;
    --dark: var(--hue) 70% 3%;
        
    
}
/**/
*{
    box-sizing: border-box;
    transition: .2s cubic-bezier(.34,1.12,.68,1.31);
}

/* FONTS */


@font-face {
    font-family: 'libre';
    src: url('LibreCaslonText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    
}
@font-face{
    font-family: 'vonique92';
    src: url('Vonique\ 92_D.otf');
    font-weight: normal;
    font-style: normal;
}
/**/


* {
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 62.33%;
}
body{
    font-size: 1.6rem;
}
a {
    text-decoration: none;
}
h1 {
    font-style: bold;
    color: black;
    font-size: 6rem;
    font-family:'vonique92';
    padding-bottom: 5rem;
    text-align: center;
    
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    font-family: 'voni';
    color: var(--third-color);
}
p {
    font-family: Arial, Helvetica, sans-serif;
}
/*intro area*/
.intro-content{
    text-align: center;
    position: relative;
    top: -3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    
    gap: var(--gap);
    
}


.intro-content p{
    
    font-size: 2.5rem;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.intro-text, .intro-image {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-top: 50px;
    
    
}

.intro-image img{
    max-width: 100%;
    height: auto;
    border-radius: 0.2rem;
    

}
/**/
.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 3rem var(--gap);
    
}
.main-content h1{
    text-align: center;
    font-size: 5rem;
}



.menu-space {
    background-color:var(--fourth-color);
    height: 53px;
    visibility: hidden;
    
}
/**/


.text {
    display: flex;
    text-align: center;
    justify-content: center;
    text-align: justify;
    align-items: center;
    flex-direction: column;
    background-color: var(--fourth-color);
    width: 30%;
    font-size: 30px;    
}
/*backgrounds*/
.main-bg {
    
    background-color: #E26455;
    background-size: cover;
    background-position: center center;
    
    
}
.white-bg{
    background: white;
}
.secondary-bg {
    background: var(--secondary-color);
}
.test-bg{
   background-image: url('../images/backgroundcomviver2.png');
   background-size: cover;
   background-position: center center;
}   
/**/


/*grids*/
.grid-one-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 5vh;
}
.grid-main-heading {
    margin-bottom: 1rem;
}


.grid-main-content {
    margin-bottom: 5rem;
}

.grid-description {
    font-family: 'libre';
    padding-bottom: 5rem;
    font-size: 3rem;
    color: var(--fourth-color);
}

.grid {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 6rem;
    


}

.service-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    width: 100%;
    margin-bottom: 70px;    
}
.service-grid p {
    font-size: 2.8rem;
    text-align: justify;
}
.service-grid h3{
    font-size: 3rem;
}


.grid h3 {
    color: var(--secondary-color);
    font-family: 'cocogothic';
    font-size: 2rem;
    text-align: center;
}

.grid p{
    padding-top: 1.5rem;
    font-size: 2.5rem;
    text-align: start;
    font-family: 'cocogothic';
    color: var(--third-color);
}
/**/

/*Footer area*/
.footer {
    height: 9vh;
    padding-top: 2rem;
    text-align: center;
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-family: libre;  
    border-top: 1px solid var(--secondary-color);
}


.footer p{
    color: var(--fourth-color);
    font-size: 2rem;
        
}
/**/




/*buttons*/
.btn {
    
    border-radius: 1rem;
    background-color: #ffffff;
    text-align: center;
    border: none;
    text-decoration: dashed;
    text-decoration: none;
    display: inline-block;
    font-size: 2.1rem;
    margin: 4rem;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 70%;
    height: 5rem;
}


.btn:hover {
    
    transform: scale(1.1);
    box-shadow: 5px 5px 5px var(--third-color);
}

/**/

/*mobile optmization (WARNING NOT OPTMIZED FOR 2.0)*/
.close-menu {
    display: none;
}
@media (max-width: 800px) {
    .intro-content, .grid {
        grid-template-columns: 1fr;
    }

    .gallery {
        
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }
    .gallery img {
        width: 100%;
    }
    .grid-one-content{
        display: block;
    }

    .menu{
        bottom: 0;
        text-align: center;
    }
    .menu-content, .menu-content ul {
        flex-direction: column;
        justify-content: center;
    }
    .menu-content {
        height: 100vh;
    }
    .menu {
        display: none;
    }
   
    
    .close-menu-label::after {
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background-color: #F2A313;
        color: #E26455;
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;

    }

    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        display: block;
        content: '×';
    }

    .menu-space {
        display: none;
    }
    .footer p {
        font-size: 1.5rem;
    }

    div.galeria{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 15vh;
    }
    
}
/**/

.line {
    height: 0.3rem;
    background-color: #000000;    
}


/*serviços*/
.item{
    background-color:var(--primary-color);
    box-shadow: 0.5rem 0.5rem  rgb(197, 190, 190);
    border-radius: 1rem;
    padding: 3rem;
    margin: 0 5rem;
    font-size: 1.5rem;
    transition: all 300ms ease-in-out;
}

.item h3{
    padding-bottom: 1rem;
    color: var(--fourth-color);
    font-family: libre;
    text-align: center;
}
.item p{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--fourth-color);
    
}

.item:hover{
    box-shadow:0.7rem 0.7rem 1.2rem rgb(197, 190, 190);
    transform: scale(1.1);
    transition: all 300ms ease-in-out;
}
/**/

  
.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 684px;
    width: 100%;
    background-image: url('MT-18.JPG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    z-index: -1;
    filter: blur(5px);
    margin-bottom: 10px;
}
.conte {
    color: #fff;
    margin-top: 30px;
    text-align: center;
    
}
  
.conte h1 {
    font-size: 80px;
    margin-bottom: 10px;
    
}
  
.conte p {
    font-size: 35px;
    text-align: center;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass-menu h1 {
    color: var(--fourth-color);
    font-size: 45px;
    text-align: center;
    padding-top: 100px;
    
}
.glass-menu span {
    font-family: Arial, Helvetica, sans-serif;
    color: #E26455;
    font-size: 130px;
}
.glass-menu p {
    font-size: 35px;
}
.flex img{
    height: 10rem;
}  
.conte ul{
    list-style: none;
}
  
.conte ul li{
    display: inline-block;
    margin: 0 30px;
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.conte ul li a{
    position: relative;
    color: white;
    
}
.conte ul li a::after {
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--primary-color);
    transition: all 300ms ease-in-out;
}
.conte ul li a:hover::after {
    
    width: 70%;
    left: 15%;
}
.menu-box {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    background-color: transparent;
    width: 400px;
    height: 60px;    
    margin: 10px auto;
    
    gap: var(--gap);
}

.menu-box-btn {
    display: flex;
    align-items: center ;
    justify-content: center;
    gap: var(--gap);
    
}
.menu-box-btn button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 55px;

    border: none;
    background-color: transparent;
    cursor: pointer;

}

.menu-box-btn button img{
    height: 40px;
}
.section {
    visibility: hidden;
}


/*duvidas-flipcards*/

.flip-cards {
    text-align: center;
}

.flip-cards-content {
    padding: 50px 0;
}

.flip-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-card {
    width: 400px;
    height: 300px;
    perspective: 1000px;
    margin: 0 20px;
    
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    backface-visibility: hidden;
    backdrop-filter: blur(10px);
}

.flip-card-front {
    background-image: linear-gradient(to left, #eee, rgb(228, 220, 220));
    background-color: #3498db;
    box-shadow: 0.5rem 0.5rem  rgb(197, 190, 190);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: libre;
    font-size: 28px;
    text-align: center;
    color: var(--secondary-color)
}

.flip-card-back {
    background-color: var(--primary-color);
    box-shadow:0.7rem 0.7rem 1.2rem rgb(155, 150, 150);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    transform: rotateY(180deg);
    
}
/**/



.ball-content{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 350px;
    
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 4rem;
    font-size: 1.5rem;
    
}

.ball-inside{
    display: flex;
    flex-direction: row;
}

.ball-content h3{
    color: #C49145;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7rem;

}

.ball-content p{
    font-size: 2.5rem;
    text-align: center;
}




.wraper {
    height: 360px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
}
.scroller {
    display: flex;
    width: 100%;
    animation: slidy 20000ms infinite;
}
.scroller2{
    
    display: flex;
    width: 100%;
    animation: slidy 20000ms infinite;
    
}
.scroller2 img {
    min-width: calc(100% / 3.1);
    object-fit: cover;
    flex: 1;
    padding: 0.5rem;
}

.wraper .scroller  img {
    min-width: calc(100% / 2.6);
    flex: 1;
    padding: 0.5rem;
    object-fit: cover;
}




@keyframes slidy {
    0%{margin-left:0%;}
   20%{margin-left:-100%;}
 
   25%{margin-left:-100%;}
   45%{margin-left:-200%;}
 
   50%{margin-left:-200%;}
   70%{margin-left:-100%;}
 
   75%{margin-left:-100%;}
   95%{margin-left: 0%;}
 
  100%{margin-left:0%;}
  
 }

@keyframes message {
    0%{margin-left: 10%;}
    20%{margin-right: -10%;}
    
}


.message1{
    position: fixed;
    font-size: 20px;
    font-style: normal;
    color: #f3f1f1;
    border-radius: 4px;
    padding: 10px;
    right: 23px;
    bottom: 36px;
    background-color: #0fd472;
    margin-right: 40px;   
    animation: message 7000ms ;
}
#contact {
    
    display: flex;
    flex-direction: row;
    position: fixed;    
    color: #fff;
    margin-right: -30px;
    border: none;
    background-color: #0fd472;
    border-radius: 10px;
    
    cursor: pointer;
    
    
}
#contact button{
    border-radius: 50%;
    background-color: #0fd472;
    border: none;
    padding: 25px;
    bottom: 20px;
    right: 20px;
}

.section-shadonw{
    box-shadow: 1px 1px 100px white;
}


.grad{
    height: 250px;
    background-image: linear-gradient(to top, white, #E26455 );
    
    
}
.grad2{
    height: 250px;
    background-image: linear-gradient(to top, #E26455, white );
   
    
}



#testing{
    background-color: #E26455;
    width: 100px;
    height: 100px;
}





div.galeria2{
    width: 100%;
    
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 30vh;
    padding-bottom: 50px;
}

div.galeria2 div.single-galeria{
    border-radius: 5px;
    margin: 0.5vw;
    overflow: hidden;
}

.h-2{
    grid-row: span 2;
}
.w-2{
    grid-column: span 2;
}

div.galeria2 div.single-galeria img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.25s ease-in-out;
}
div.galeria2 div.single-galeria img:hover{
    transform: scale(1.1);
}




.container {
    max-width: 1200px;
    margin: auto;
    padding-bottom: 100px;
}
.container button{
    border-style:none;
    border-radius: 12px;
}
    
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    overflow: hidden;
    
}
    
.image-item {
    flex: 1 0 28%;
    min-width: 200px;
    cursor: zoom-in;
    border-radius: 6px;
    
}
    
.image-item img {
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    object-fit: cover;
    transition: transform 250ms cubic-bezier(0.79, 0.25, 0, 1.07);
    padding: 50px;
    border-radius: 5px;
}
    
.image-item:is(:hover, :focus) img {
    transform: scale(1.03);
}